/* regolegenerali */
*{
  padding: 0;
  margin-left: 0;
  box-sizing: border-box;
}

.container > .row{
  text-align: center;
  background: lightgray;
}

/* regole di debug
[class*="col-"] {
  min-height: 500px;
  background-color: lightgreen;
  border: solid 1px  #000;

}

[class*="col-"] > .row > [class*="col-"]{
  min-height: 350px;
  background-color: lightgray;
}
/* fine debug */


@media screen and (min-width:993px){

  /* immagini */
  img{
    height: 100px;
  }

  img.padding{
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px;
  }

  [class*="col-"] {
    padding: 20px;
  }
}


@media screen and (min-width:769px) and (max-width:992px){
  /* immagini */
  img{
    height: 150px;
  }

  img.padding{
    background-color: #428bca;
    border-radius: 50%;
    padding: 20px;
  }

  [class*="col-"] {
    padding: 15px;
  }
}

@media screen and (max-width:768px){
  /* immagini */
  img{
    height: 200px;
  }

  img.padding{
    background-color: #428bca;
    border-radius: 50%;
    padding: 10px;
  }

  [class*="col-"] {
    padding: 15px;
  }


}
